# Ignore processed data directories that might contain sensitive info
processed_scans/
output_examples/
electrode_reports/

# Ignore specific data files
*.nii
*.nii.gz
*.json
*.pdf

# Python specific ignores
__pycache__/
*.pyc
.ipynb_checkpoints/ # If you use Jupyter notebooks
.pytest_cache/
.mypy_cache/
.venv/
env/
dist/
build/
*.egg-info/
.env
